.active-class {
    background-color: #f5f5f5 !important;
}

.active-txt {
    color: #458bcd !important;
}

body, .navbar-custom {
    background-color: #282c34 !important;
}

.content-page {
    border-color: #282c34 !important;
}