body {
	font-family: Arial, sans-serif;
	background-color: #282c34;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../images/lppm-1.png");
	background-repeat: no-repeat;
	background-size: contain 50%;
	background-position: center;
}

.card {
	width: 500px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h2 {
	color: black;
	margin-bottom: 20px;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	text-align: left;
	margin-bottom: 5px;
}

input {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.switch {
	margin-top: 15px;
	font-size: 14px;
}

.switch a {
	color: #007bff;
	text-decoration: none;
}

.loginFailed {
	color: red;
	font-size: small;
	text-align: left;
}
